export AWS_ACCESS_KEY_ID=test
export AWS_SECRET_ACCESS_KEY=test
export AWS_REGION=us-west-2
export CDK_DEFAULT_ACCOUNT=000000000000
export CDK_DEFAULT_REGION=us-west-2
export AWS_ENDPOINT_URL=http://localhost:4566
export AWS_ENDPOINT_URL_S3=http://s3.localhost.localstack.cloud:4566 # 'https://stackoverflow.com/a/78943476/11205458'